#border {
    display: inline-block;
    margin: 10px;
    padding: 30px;
    border: 2px solid darkslategray;
    background-color: whitesmoke;
    max-width: 130px;
}
#border2 {
    display: inline-block;
    margin: 10px;
    padding: 30px;
    border: 2px solid darkslategray;
    background-color: darkslategray;
    color: aliceblue ;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  /* background-color: #dddddd; */
}
