<p>account-info works!</p>
<!-- 	id: number;
	clientName: string;
	description: string;
	legalEntity: string;
 -->
<div style='border-style:dotted' style=" background-color: darkslategray" >
	<div id="border2">
<p> Account Id : {{account.id }} </p>
<p> Account Client Name : {{account.clientName }} </p>
<p> Account Description : {{account.description }} </p>
<p> Account Legal Entity : {{account.legalEntity }} </p>

<button class='btn btn-dark'(click)="addressfunc()"> Address  </button>
<button  class='btn btn-primary' (click)="dept()"> Department   </button>
<button class='btn btn-warning'(click)="cont()"> Contact    </button>
</div>
 <br> <br>
<ng-container [ngSwitch]="calling">
<div id="border2" *ngSwitchCase="'addressCalled'">
<table>
  <tr>
      <th> ID </th>
      <th> City </th>
      <th> Country </th>
      <th> Buliding Ref </th>
      <th> Fax Number </th>
      <th> Mobile Number </th>

  </tr>
    <tr>
      <td> {{ account.address.id  | json }}</td>
      <td> {{ account.address.city  | json }}</td>
      <td> {{ account.address.country  | json }}</td>
      <td> {{ account.address.buildingRef  | json }}</td>
      <td> {{ account.address.faxNo  | json }}</td>
      <td> {{ account.address.mobileNo  | json }}</td>

    </tr>
</table>
	<!-- {{ account.address  | json }} -->
</div>
<div id='border2' *ngSwitchCase="'deptCalled'">
  <table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Classification </th>
    </tr>
	<ng-template ngFor let-item [ngForOf]="account.departments">  <!-- </ng-template> #name *ngFor="let i in account.departments">  -->
	<!-- <p id="border">{{  item  | json }}</p> -->
      <tr>
        <td> {{ item.id  | json }}</td>
        <td> {{ item.name  | json }}</td>
        <td> {{ item.classification  | json }}</td>
      </tr>
    </ng-template>
  </table>

</div>
<div id='border2' *ngSwitchCase="'contCalled'">
  <table>
    <tr>
        <th> ID </th>
        <th> Title </th>
        <th> Name </th>
        <th> Position </th>

    </tr>
	<ng-template ngFor let-item [ngForOf]="account.contacts">
 <!-- <p id='border'> {{ item | json }} </p> -->
 <tr>
  <td> {{ item.id  | json }}</td>
  <td> {{ item.title  | json }}</td>
  <td> {{ item.name  | json }}</td>
  <td> {{ item.position  | json }}</td>

</tr>
</ng-template>
</table>
</div>
</ng-container>
</div>
